
body
{
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}
.container
{
    color: rgb(196, 196, 196);
}
.digit
{
    font-size: 150px;
    font-weight: bold;
}
.text
{
    font-size: 40px;
    font-weight: bold;
}
.btn1
{
    text-align: center;
    margin-top: 10px;
   
}
.btn
{
    padding: 10px 30px;
    font-weight: bold;
    margin: 0px 10px;
    cursor: pointer;
    color: white;
    border: none;
}
#start
{
    background-color: #1abc9c;
}
#stop
{
    background-color: #3498bd;
}
#reset
{
    background-color: red;

}